<!-- topic-detail.component.html -->
<div class="container">
  <div class="modal-header">
    <h1>📝CHỦ ĐỀ CHI TIẾT</h1>
    <button class="close_button" (click)="closePopup()">✖</button>
  </div>

  <div class="content">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <!-- Tiêu đề Topic -->
      <div class="form-group">
        <label for="title">Tiêu đề Topic:</label>
        <input type="text" id="title" formControlName="title" placeholder="Nhập tiêu đề topic...">
        
      </div>

      <!-- Mô tả Topic -->
      <div class="form-group">
        <label for="description">Mô tả Topic:</label>
        <textarea id="description" formControlName="description"
          placeholder="Nhập mô tả chi tiết về topic..."></textarea>
      </div>

      <!-- Ngày bắt đầu và kết thúc -->
      <div class="date-row">
        <div class="form-group">
          <label for="startDate">Ngày bắt đầu:</label>
          <input type="date" id="startDate" formControlName="startDate">
        </div>
        <div class="form-group">
          <label for="endDate">Ngày kết thúc:</label>
          <input type="date" id="endDate" formControlName="endDate">
        </div>
      </div>

      <app-question-manager [parentGroup]="myForm" [formArray]="questionsArray">
      </app-question-manager>

      <!-- Thông tin Meta -->
      <div class="metadata-section">
        <div class="metadata-grid">
          <div class="metadata-item">
            <div class="metadata-label">Thời gian tạo:</div>
            <div class="metadata-value">{{ (data.createdAt | date: 'dd/MM/yyyy HH:mm') }}</div>
          </div>
          <div class="metadata-item">
            <div class="metadata-label">Thời gian cập nhật:</div>
            <div class="metadata-value">{{ (data.updatedAt | date: 'dd/MM/yyyy HH:mm') }}</div>
          </div>
          <div class="metadata-item">
            <div class="metadata-label">Người tạo:</div>
            <div class="metadata-value">{{ data.createdByName }}</div>
          </div>
          <div class="metadata-item">
            <div class="metadata-label">Người cập nhật:</div>
            <div class="metadata-value">{{ data.updatedByName }}</div>
          </div>
        </div>
      </div>

      <!-- Nút đóng -->

      

      <div class="button-group">
        <button type="button" class="btn btn-cancel" aria-label="Đóng" mat-dialog-close (click)="closePopup()">ĐÓNG</button>
        <button type="button" class="btn btn-cancel" mat-dialog-close (click)="onSubmit()">
          {{ !this.data.id ? 'TẠO MỚI' : 'CẬP NHẬT' }}
        </button>
      </div>

    </form>
  </div>
</div>