<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="needs-validation">
  <div class="container_popup">
    <div class="header">CHI TIẾT CHỦ ĐỀ
      <button type="button" class="btn-close-circle" aria-label="Đóng" mat-dialog-close (click)="closePopup()">
        ×
      </button>
    </div>

    <!-- THÔNG TIN NGƯỜI DÙNG -->
    <div class="section">
      <div class="section-title">NGƯỜI TẠO</div>

      <div class="info-row">
        <div class="info-label">› Username</div>
        <div class="info-value">{{ data.createdByName }}</div>
      </div>

      <div class="info-row">
        <div class="info-label">› Người cập nhật cuối</div>
        <div class="info-value">{{ data.updatedByName || 'Chưa cập nhật' }}</div>
      </div>
    </div>

    <!-- THÔNG TIN API -->
    <div class="section">
      <div class="section-title">THÔNG TIN CHỦ ĐỀ</div>

      <div class="info-row">
        <div class="info-label">› ID</div>
        <div class="info-value">{{ data.id }}</div>
      </div>

      <!-- <app-text-input formControlName="title" label="Tiêu đề" placeholder="Nhập tiêu đề" /> -->

      <!-- Truyền FormControl trực tiếp -->
      <app-text-input label="Tiêu đề" [control]="getFormControl('title')"></app-text-input>

      <app-area-input label="Mô tả" placeholder="Nhập nội dung mô tả" [control]="getFormControl('description')" />

      <div class="row">
        <div class="col">
          <app-date-input label="Ngày bắt đầu" placeholder="Nhập ngày bắt đầu"
            [control]="getFormControl('startDate')" />
        </div>
        <div class="col">
          <app-date-input label="Ngày kết thúc" placeholder="Nhập ngày kết thúc"
            [control]="getFormControl('endDate')" />
        </div>
      </div>
    </div>

    <!--Them HTML de hien thi danh sach cau hoi cua topic nay, moi cau hoi la 1 input de user co the sua noi dung cau hoi
        Ben canh la select de chon loai cho cau hoi, co 3 loai Chon 1, Chon nhieu, va Tu luan
        
    -->

    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
      <h5>Danh sách câu hỏi</h5>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="addQuestion()">
        + Thêm câu hỏi
      </button>
    </div>







    


<app-question-manager 
  [questions]="mapToViewModels(data.questions)"
  (questionsChange)="onQuestionsChange($event)">
</app-question-manager>


























    <!-- THÔNG TIN THIẾT BỊ (TÙY CHỌN) -->
    <div class="section">
      <div class="section-title">THÔNG TIN HỆ THỐNG</div>

      <div class="info-row">
        <div class="info-label">› Ngày tạo</div>
        <div class="info-value">{{ data.createdAt | date: 'dd/MM/yyyy HH:mm' }}</div>
      </div>

      <div class="info-row">
        <div class="info-label">› Cập nhật lúc</div>
        <div class="info-value">{{ data.updatedAt ? (data.updatedAt | date: 'dd/MM/yyyy HH:mm') : 'Chưa cập nhật' }}
        </div>
      </div>

    </div>

    <!-- Nút đóng -->
    <div class="button-group">
      <button type="button" class="btn btn-cancel" mat-dialog-close (click)="onSubmit()">
        CẬP NHẬT
      </button>
    </div>
  </div>
</form>