<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- 1. REMOVE WebDAV Module - Nguyên nhân chính gây lỗi 405 với DELETE -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    
    <!-- 2. REMOVE WebDAV Handler -->
    <handlers>
       <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
       <add name="ExtensionlessUrlHandler-Integrated-4.0" 
         path="*." 
         verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" 
         type="System.Web.Handlers.TransferRequestHandler" 
         preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <!-- 3. URL Rewrite cho Angular SPA -->
    <rewrite>
      <rules>
        <!-- Rule cho API - ưu tiên cao hơn -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="None" />
        </rule>
        
        <!-- Rule cho Angular Routes -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- 4. CORS Headers (nếu cần) -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization" />
      </customHeaders>
    </httpProtocol>
    
    <!-- 5. Default Document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- 6. Static Content Types -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" />
    <!-- 7. HTTP Modules for older IIS versions -->
    <httpModules>
      <remove name="WebDAVModule" />
    </httpModules>
  </system.web>
</configuration>