<div class="form-container">
  <form [formGroup]="xuatFileForm" (ngSubmit)="onSubmit()" class="needs-validation">
    
    <div class="header">CHỌN PHẠM VI XUẤT FILE</div>
      
        <div class="form-group">
          <label>
            <input type="radio" formControlName="exportOption" value="current">
            Xuất trang hiện tại (Trang {{currentPage}})
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="radio" formControlName="exportOption" value="range">
            Xuất từ trang đến trang
          </label>
          <div *ngIf="xuatFileForm.get('exportOption')?.value === 'range'" class="info-row">
            <div class="date-container">
              <input type="number" placeholder="Từ trang" id="from-page" formControlName="fromPage" min="1" placeholder="Từ trang">
              <input type="number" placeholder="Đến trang" id="to-page" formControlName="toPage"  min="1" placeholder="Đến trang">
          </div>
          <div *ngIf="xuatFileForm.hasError('fromPageGreaterThanToPage') && xuatFileForm.get('exportOption')?.value === 'range'" class="error-message">
            Trang bắt đầu phải nhỏ hơn hoặc bằng trang kết thúc.
          </div>
          </div>
        </div>
        
        <div class="form-group">
          <label>
            <input type="radio" formControlName="exportOption" value="list">
            Xuất các trang cụ thể
          </label>

          <div *ngIf="xuatFileForm.get('exportOption')?.value === 'list'" class="info-row">
            <div class="info-value">
              <input type="text" class="form-control" formControlName="pageList" placeholder="1,3,5">
            </div>
            <div *ngIf="xuatFileForm.hasError('invalidPageList') && xuatFileForm.get('exportOption')?.value === 'list'" class="error-message">
              Vui lòng nhập danh sách trang đúng định dạng (ví dụ: 1,3,5).
            </div>
          </div>
        </div>



    <div class="buttons-wrapper">
      <button type="button" class="btn btn-cancel" (click)="onCancel()">
        <i class="bi-x-circle"></i> Đóng
      </button>
      <button type="submit" class="btn btn-submit">
        <i class="bi bi-download"></i> Xuất File
    </button>
    </div>

  </form>
</div>
