
    <div class="container">
        <div class="header">TẠO THÔNG BÁO</div>
        <form [formGroup]="thongBaoForm" (ngSubmit)="onSubmit()" class="needs-validation">
        <div class="section">
            <div class="section-title">THÔNG TIN NGƯỜI TẠO THÔNG BÁO</div>
            <!-- <div class="id-value">Mã đề xuất: </div> -->
            <div class="info-row">
                <div class="info-label">› Người tạo</div>
                <div class="info-value">NGUYỄN HỒNG PHÚC 00000278 | Chuyên viên Lập trình</div>
            </div>
            <div class="info-row">
                <div class="info-label">› Ngày tạo</div>
                <div class="info-value">25/04/2025 13:44</div>
            </div>
        </div>
        
        <div class="section">
            <div class="form-row">
                <div class="form-group">
                    <label class="form-label required">Tiêu đề</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="title" 
                    formControlName="title"
                    placeholder="Tiêu đề"
                    [readonly]="status === 1"
                    [class.is-invalid]="thongBaoForm.get('title')?.invalid && thongBaoForm.get('title')?.touched">
                </div>
            </div>
        </div>
        
        <div class="section">
            <div class="form-row">
                <div class="form-group">
                    <label class="form-label">Nội dung ngắn</label>
                    <textarea 
                    class="form-control" 
                    id="content" 
                    style="height: 150px"
                    formControlName="content"
                    placeholder="Nhập nội dung"
                    [readonly]="status === 1"
                    [class.is-invalid]="thongBaoForm.get('content')?.invalid && thongBaoForm.get('content')?.touched"></textarea>
                </div>
            </div>
        </div>
        
        <div class="button-group">
            <button type="button" class="btn btn-cancel" (click)="closePopup()">
                <span>⊝</span> Đóng
            </button>
            <button class="btn btn-save">
                <span>⊕</span> Lưu nháp
            </button>
            <button type="submit" class="btn btn-submit">
                <span>✉</span> Tạo/Gửi Thông báo
            </button>
        </div>
    
        </form>

    </div>


    
