table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }

  /* Đặt container chính thành flexbox */
  .container {
    display: flex;
    flex-direction: column;
    height: 99vh; /* Chiều cao toàn màn hình */
  }

  /* Phần nội dung bảng chiếm hết chiều cao còn lại */
  .table-wrapper {
    flex-grow: 1; /* Chiếm hết không gian còn lại */
    overflow-y: auto; /* Bật scroll dọc */
  }

  /* Cố định header của bảng */
  .sticky-header-table thead th {
    position: sticky;
    top: 0; /* Cố định ở đầu bảng */
    z-index: 2; /* Đảm bảo header nằm trên nội dung */
    background-color: #343a40; /* Màu nền header */
    color: white; /* Màu chữ header */
  }

  /* Căn phải phần chứa tên nhân viên */
  .text-end {
    text-align: right; /* Căn phải nội dung */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
