
    

    <div class="tabs">
        <div class="tab active">Thông báo</div>
        <!-- <div class="tab">QUY TRÌNH</div>
        <div class="tab">TẠO/PHÊ DUYỆT REQUEST</div> -->
    </div>

    <div class="action-buttons">
        <button class="btn">
          <i class="bi bi-search"></i>Tìm kiếm</button>
        <!-- Button mở popup tạo mới -->
        <button class="btn btn-primary" (click)="openTaoThongBaoPopup()">
          <i class="bi bi-plus-circle"></i> Tạo mới
        </button>
        <!-- <button class="btn" (click)="taoThongBao()">
            <i class="bi bi-plus-circle"></i> Tạo thông báo
          </button> -->
        <button class="btn" (click)="toggleAdvancedSearch()"><i class="bi bi-file-earmark-excel"></i> Xuất File</button>
    </div>

    <div class="content">
        <div class="panel">
            <div class="panel-header">
                <div><strong>BẢN GHI</strong></div>
                <div class="search-container">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tìm kiếm theo tiêu đề"
                      [(ngModel)]="searchText"
                      (keyup.enter)="onSearchTextChange()" />
                      
                    <button class="btn btn-secondary" (click)="toggleAdvancedSearch()">
                      <i class="bi bi-search"></i>
                    </button>
                    
                  </div>
            </div>

            <div class="overlay" [hidden]="!showAdvancedSearch">
                <div class="overlay-content"  style="background-color: transparent; padding: 0;width: 60%">
                  <!-- <button class="btn-close" (click)="toggleAdvancedSearch()">&times;</button> -->
                  <app-advanced-search
                    (closePopupEvent)="handleClosePopup($event)"
                    (searchPopupEvent)="handleSearchPopup($event)">
                  </app-advanced-search>
            
                </div>
            </div>

            <!-- hộp thoại tạo thông báo mới hoặc xem chi tiết thông báo -->
            <div class="overlay" *ngIf="showThongBaoPopup">
                <div class="overlay-content" style="background-color: transparent; padding: 0;width: 60%">
                <chitiet-thong-bao
                    [notificationId]="notificationId"
                    (closePopupEvent)="handleClosePopup($event)"
                    (createEvent)="handleCreate($event)">
                </chitiet-thong-bao>
                </div>
            </div>
            



            <table>
                <thead>
                    <tr>
                        <th>
                          <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
                        </th>
                        <th>Tiêu đề</th>
                        <th>Nội dung</th>
                        <th>Người gửi</th>
                        <th>Ngày giờ gửi</th>
                        <th>Send succ / sum</th>
                        <th>Loại thông báo</th>
                        <th>Hành động</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tb of thongBaoList" [ngClass]="{'table-success': tb.status == 1}">
                      <td>
                        <input type="checkbox" [(ngModel)]="tb.selected" [disabled]="tb.status === 1">
                      </td>
                      <td>
                        {{ tb.title }}
                      </td>
                      <td>{{ tb.content }}</td>
                      <td>{{ tb.tenNhanVien }}</td>
                      <td>{{ tb.sentAt | date:'dd/MM/yyyy HH:mm' }}</td>
                      <td>{{ tb.receivedCount }}/{{ tb.totalRecipients }}</td>
                      <td>{{ getNotificationTypeName(tb.notificationType) }}</td>
                      <td>
                        <button 
                          class="btn btn-warning btn-sm" 
                          (click)="(tb.status === 1) ? viewThongBao(tb.id) : editThongBao(tb.id)">
                          <i class="bi" [ngClass]="(tb.status === 1) ? 'bi-eye' : 'bi-pencil-square'"></i>
                          {{ (tb.status === 1) ? 'Xem' : 'Sửa' }}
                        </button>
                        <button 
                          *ngIf="tb.status !== 1"
                          class="btn btn-danger btn-sm ms-2" 
                          (click)="deleteThongBao(tb.id)">
                          <i class="bi bi-trash"></i> Xóa
                        </button>
            
                      </td>
                    </tr>
                </tbody>
            </table>
            

            <!-- Pagination section -->
            <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="onPageChange($event)">
            </app-pagination>
            
        </div>
    </div>

    <!-- Back to top button -->
    <div class="back-to-top">↑</div>

    <div class="footer">
        <span>14:31</span>
    </div>


   