
    <div class="form-container">
        <div class="form-group">
            <label for="time">Thời gian</label>
            <div class="date-container">
                <input type="date" placeholder="Từ ngày" id="from-date" [(ngModel)]="ngayTaoTu">
                <input type="date" placeholder="Đến ngày" id="to-date" [(ngModel)]="ngayTaoDen">
            </div>
        </div>
        
        <div class="form-group">
            <label for="request-group">Nhóm thông báo</label>
            <select id="mainType">
              <option [value]="null">Tất cả</option>
              <option [value]="1">Đề xuất</option>
              <option [value]="2">Giải trình</option>
              <option [value]="3">Đặt xe</option>
              <option [value]="4">Đặt phòng họp</option>
              <option [value]="5">KPIs</option>
            </select>
        </div>

        <div class="form-group">
            <label for="request-group">Loại thông báo</label>
            <select id="mainType" [(ngModel)]="loaiThongBao">
              <option [value]="null">Tất cả</option>
              <option [value]="1">Tự động</option>
              <option [value]="2">Chủ động</option>
            </select>
        </div>
        
        <div class="buttons-wrapper">
            <div class="button-container">
                <button type="button" (click)="closePopup()">Đóng</button>
            </div>
            <div class="button-container">
                <button type="button" (click)="timKiem()">Tìm kiếm</button>
            </div>
        </div>
        
    </div>
