<div class="form-group">
    <label>
        <strong>{{label}}</strong>
        <span *ngIf="isRequired" class="required">(*)</span>
    </label>

    <input type="date" class="form-control" [formControl]="control">

    <div class="error" *ngIf="control.invalid && (control.dirty || control.touched)">
        <span *ngIf="control.hasError('required')">Vui lòng nhập {{ label.toLowerCase() }}</span>
        <span *ngIf="control.hasError('minlength')">Tối thiểu {{ control.errors?.['minlength'].requiredLength }} ký tự</span>
        <span *ngIf="control.hasError('maxlength')">Tối đa {{ control.errors?.['maxlength'].requiredLength }} ký tự</span>
    </div>
</div>