<div class="container_popup">

  <div class="header">CHI TIẾT LOG</div>

  <div>
    <div class="section-title">THÔNG TIN CHUNG</div>
    <div class="info-row">
      <div class="info-label">› Job ID</div>
      <div class="info-value">{{ data.idJob }}</div>
    </div>

    <div class="info-row">
      <div class="info-label">› Tên công việc</div>
      <div class="info-value">{{ data.jobName }}</div>
    </div>

    <div class="info-row">
      <div class="info-label">› Ngày phát sinh</div>
      <div class="info-value">{{ data.logDate | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
    </div>

    <div class="info-row">
        <div class="info-label">› Ngày ghi nhận</div>
      <div class="info-value">{{ data.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
    </div>

    <div class="info-row">
      <div class="info-label">› Phân loại</div>
      <div class="info-value" [ngClass]="{ 'status-error': data.errors !== 0, 'status-success': data.errors === 0 }">
        {{ data.errors === 0 ? 'Thành công' : 'Lỗi' }}
      </div>
    </div>
  </div>

  <div class="log-section">
    <div class="section-title">LOG CHI TIẾT</div>

    <div class="log-row">
      <div class="log-value">
        <div class="log-field-container">
          {{ data.logField }}
        </div>
      </div>
    </div>
  </div>

  <div class="button-group">
    <button type="button" class="btn btn-cancel" mat-dialog-close (click)="closePopup()">
      Đóng
    </button>
  </div>

</div>
