<div class="pagination">
  <!-- Nút "Previous" (về trang đầu) -->
  <div 
    class="pagination-item cursor-pointer"
    [class.opacity-50]="currentPage === 1"
    [class.pointer-events-none]="currentPage === 1"
    (click)="changePage(1)">
    «
  </div>

  <!-- Nút "Previous" (về trang trước) -->
  <div 
    class="pagination-item cursor-pointer"
    [class.opacity-50]="currentPage === 1"
    [class.pointer-events-none]="currentPage === 1"
    (click)="changePage(currentPage - 1)">
    ‹
  </div>

  <!-- Danh sách các trang -->
  <div 
    *ngFor="let page of pages"
    class="pagination-item cursor-pointer"
    [class.active]="page === currentPage"
    [class.pointer-events-none]="page === '...'"
    (click)="changePage(page)">
    {{ page }}
  </div>

  <!-- Nút "Next" (về trang sau) -->
  <div 
    class="pagination-item cursor-pointer"
    [class.opacity-50]="currentPage === totalPages"
    [class.pointer-events-none]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)">
    ›
  </div>

  <!-- Nút "Next" (về trang cuối) -->
  <div 
    class="pagination-item cursor-pointer"
    [class.opacity-50]="currentPage === totalPages"
    [class.pointer-events-none]="currentPage === totalPages"
    (click)="changePage(totalPages)">
    »
  </div>
</div>
